*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;/* deixar as medidas com calculo correto*/
}

.game-board{
    width: 80%;
    height: 500px;
    border: 2px solid  rgb(0, 142, 150);
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    position: relative;/* respeitar a delimitação dessa class*/
    overflow: hidden; /* para tudo que sair da tela nao aparecer mais*/
}

.pipe{
    position: absolute; /* usado para nenhuma imagem interferir na outra*/
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
    from{
        right: -20%;
    }

    to {
        right: 100%;
    }

}

@keyframes jump {
    
    0%{
        bottom: 0;
    }

    40%{
        bottom: 190px;
    }

    50%{
        bottom: 190px;
    }

    60%{
        bottom: 190px;
    }

    100%{
        bottom: 0;
    }

}

.restart{
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid;
    border-color:rgb(0, 142, 150);
    background-color: red;
    border-radius: 0 0 80px 80px;
    width: 160px;
    height: 30px;
}
.restart > a {
    text-decoration: none;
    color: white;
    font: 200 1.4em fantasy;
    letter-spacing: 0.2em;
}



.textbottom{
    background-color: rgb(0, 142, 150);
    margin: 20px 50px;
    border-radius: 20px;
}
.textbottom > p {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;

}
.textbottom > p > a {
    text-decoration: none;
    color: white;
    font: 1.1em verdana;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    padding: 10px;
}
