@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200&display=swap');

*{
    margin: 0; padding: 0; text-decoration: none; box-sizing: border-box;
}
:root {
    --cor0: #262625;
    --cor1: #261C1B;
    --cor2: #5F3A2F;
    --cor3: #735443;
    --cor4: #BF9E80;
    --cor5: #FFF;

    --fonte-padrão: 'Raleway', sans-serif;
    --fonte-destaque: 'Bebas Neue', 'sans-serif';
}

/* ===================>>geral<<=================== */

body {
    background-color: var(--cor0);
    background-image: url(assets/backg.jpg);
}

h1,h2,h3 {
    color: var(--cor5);
    font: 1.6em/1.4em var(--fonte-padrão);
    text-align: center;
    text-shadow: -2px 2px 2px #000;
    padding: 10px;
}



p {
    color: var(--cor5);
    font: 1.3em/1.4em var(--fonte-padrão);
    text-align: center;
    text-shadow: -2px 2px 2px #000;
    padding: 5px;
}

@media (max-width:550px) {
    h1,h2,h3 {
        font: 1.2em/1.2em var(--fonte-padrão);
    }

    p {
        font: .9em/1.4em var(--fonte-padrão);
    }
}

hr {
    border: 1px solid var(--cor0);
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin: 30px;
}
@media (max-width:800px) {
    hr {
        margin: 30px 0;
        transition: .5s;
    }
}


  /* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--cor5) var(--cor0);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--cor0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--cor5);
    border-radius: 20px;
    border: 4px solid var(--cor0);
  }

/* ===================>>header<<=================== */       

div#backgroundtop {
    background-color: var(--cor2);
    height: 22px;
    width: 100%;
    border-bottom: 2px solid var(--cor3);
    box-shadow: inset 0px -5px 10px #412820;
}

img#logo {
    width: 100%;
    max-width: 900px;
    position: relative;
    left: 50%;
    top: 30px;
    transform: translate(-50%);
    padding: 0 3px;
}
header {
    margin-bottom: 50px;
}
@media (max-width:550px) {
    div#backgroundtop {
        height: 10px;
    }
    header {
        margin-bottom: 15px;
    }
    img#logo {
        top:15px
    }
}

 nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: -.5px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 2px solid var(--cor3);
    z-index: 10;
    background-color: #262625b6;
    background-image: url(assets/backg.jpg);
    background-position: left;
    max-width: 800px;
}
nav a {
    color: var(--cor4);
    font: 1.5em var(--fonte-destaque);
    padding: 0 40px;
    margin: 0 5px;
    transition-duration: .2s;
}
nav a:hover {
    color: var(--cor5);
}

@media (max-width:550px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav  a {
        margin-top: 5px;
        font-size: 1.2em;

    }
}

a#abaselect {
    background-color: var(--cor0);
    border: .5px solid var(--cor3);
    color: var(--cor5);
    border-radius: 50px;
}

/* ===================>>body index<<=================== */

main {
    background-color: var(--cor2);
    margin: 0 auto 60px;
    padding-bottom: 10px;
    max-width: 800px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.800);
    border-bottom: 2px solid var(--cor3);
}

aside#imgsindex img {
    width: 100%;
    box-shadow: 0 5px 3px #41282050;
}
aside#imgsindex #imgindextwo {
    padding: 0 2px;
}
aside#imgsindex #imgindexone {
    position:absolute ;
    padding: 0 2px;
    max-width: 800px;
    opacity: 0;
    animation: imgindexone 6s infinite;
}
@keyframes imgindexone {
    0% { 
        opacity: 0;

    }
    25% {
        opacity: 0;

    }
    50% {
        opacity: 1;

    }
    75% {
        opacity: 1;

    }
    100% {
        opacity: 0;

    }
}

article.history {
    background-color: #472c24;
    padding: 100px; 
    margin: 20px;
    border-radius: 40px ;
    box-shadow: 
    inset -10px 10px 15px #34211a,
    inset 10px -10px 15px #513228;
    border-bottom: .5px solid var(--cor3);
    border-left: .5px solid var(--cor3);
}
article.history  h1 {
    margin-bottom: 20px;
}
@media (max-width:550px) {
    article.history {
        padding: 60px 20px;
    }
    article.history > p {
        text-align: justify;
    }
}

/* ===================>>body shapes<<=================== */

h2.h2topshapes {
    padding-top: 30px;
}

ul#listmodels {
    margin: 10px;
}
a#linkwhatsshapes {
    color: #fff;
    text-decoration: underline;
}
a#linkwhatsshapes:hover {
    color: rgb(109, 207, 109);
}
li {
    color: var(--cor5);
    font: 1.3em/1.4em var(--fonte-padrão);
    text-shadow: -2px 2px 2px #000;
    text-align: center;
    list-style-position: inside;
}
@media (max-width:550px) {
    li {
        font: .9em/1.4em var(--fonte-padrão);
    }
}

/* ===================>>body contato<<=================== */

article#bodycontato {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 7rem;
}
@media (max-width:600px) {
    article#bodycontato {
        padding: 0 1rem;
    }
}
article#bodycontato h3 {
    margin: 30px;
}

form {
    width: 100%;
}
form label, form label input, form label textarea, form input, form button {
    display: block;
    width: 100%;
    padding: 5px 0;
}
form label input, form label textarea {
    padding: .6rem;
    margin: .3rem 0 1rem;
    font: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border-color, box-shadow .2s;
}
form label textarea {
    min-height: 20rem;
    resize: none;
}
form label input:hover, form label input:focus, form input:hover, form input:focus, form label textarea:hover, form label textarea:focus {
    outline: none;
    border-color: var(--cor3);
    box-shadow: inset 0 0 0 3px var(--cor4);
}
form button {
    display: block;
    padding: 1rem;
    background-color: var(--cor0);
    color: var(--cor5);
    font-family: var(--fonte-padrão);
    letter-spacing: .1em;
    text-transform: uppercase;
    border: .5px solid var(--cor2);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    min-height: 50px;
}
form button:hover, form button:focus {
    background-color: #242424;
    box-shadow: 
    inset -5px 5px 10px #1a1a19,
    inset 5px -5px 10px #3c3c3a;
    color: #ccc;
    font-size: 0.7em;
    border-top: .5px solid var(--cor1);
    border-right: .5px solid var(--cor1);
    border-bottom: .5px solid var(--cor3);
    border-left: .5px solid var(--cor3);
}
label {
    color: var(--cor5);
    font: 1.2em/1.4em var(--fonte-padrão);
    text-shadow: -2px 2px 2px #000;
}
@media (max-width:550px) {
    label {
        font: .9em/1.4em var(--fonte-padrão);
    }
}

aside#mapa {
    margin-top: 40px;
    width: 100%;
    background-color: var(--cor0);
    border-radius: 5px;
    box-shadow: 
    inset -5px 5px 10px #1a1a19,
    inset 3px -3px 10px #3c3c3a;
    border-top: .5px solid var(--cor1);
    border-right: .5px solid var(--cor1);
    border-bottom: .5px solid var(--cor3);
    border-left: .5px solid var(--cor3);
}
aside#mapa iframe {
    display: block;
    margin: 10px auto 20px;
    box-shadow: -2px 2px 4px #1a1a19;
}

aside#contatoendereco p {
    padding: 15px;
}
a#linkfone {
    font-size: .9em;
    color: var(--cor5); 
}

ul#listsocial {
    list-style: none;
    color: var(--cor5);
    font-family:  var(--fonte-padrão);
    text-shadow: -2px 2px 2px #000;
    text-align: center;
}
ul#listsocial li {
    margin: 15px auto;
    width: 80%;
}
ul#listsocial li a {
    display: block;
    padding: .8rem;
    background-color: var(--cor0);
    color: var(--cor5);
    font-family: var(--fonte-padrão);
    font-size: 16px;
    text-shadow: none;
    letter-spacing: .1em;
    border: .5px solid var(--cor2);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
ul#listsocial li a:hover {
    background-color: #242424;
    box-shadow: 
    inset -5px 5px 10px #1a1a19,
    inset 5px -5px 10px #3c3c3a;
    color: #ccc;
    font-size: .7em;
    border-top: .5px solid var(--cor1);
    border-right: .5px solid var(--cor1);
    border-bottom: .5px solid var(--cor3);
    border-left: .5px solid var(--cor3);
}


/* ===================>>footer<<=================== */

div#backgroundbottom {
    width: 100%;
    height: 25px;
    background-color: var(--cor2);
    position: fixed;
    bottom: 0;
    border-top: 2px solid var(--cor3);
    box-shadow: inset 0 10px 10px #412820;
    z-index: 10;
}
div#backgroundbottom a {
    color: #FFF;
    font-family: var(--fonte-padrão);
    display: flex;
    justify-content: center;
    padding: 2px;
}
@media (max-width:550px) {
    div#backgroundbottom {
        height: 15px;
    }
    div#backgroundbottom a {
        font-size: .5em;
    }
}

div#whatsapp {
    position: fixed;
    bottom: 60px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: rgb(109, 207, 109);
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    box-shadow: -2px 3px 10px #00000088;
    z-index: 10;
}
div#whatsapp a i {
    margin-top: 10px;
    transition: 0.5s;
    color: var(--cor5)
}
div#whatsapp a i:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
