:root {
    --cor0: #262625;
    --cor1: #261C1B;
    --cor2: #5F3A2F;
    --cor3: #735443;
    --cor4: #BF9E80;
    --cor5: #FFF;
}

/* ===================>><<=================== */

div.boxtwo {
    position: relative;
    width: 350px;
    height: 350px;
    min-width: 350px;
    min-height: 350px;
    background-color: #262625;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px 20px;    
    box-shadow: 
     -10px 10px 10px #412820,
     10px -10px 10px #87624e;
}



div.boxtwo::before {
    content: '';
    position: absolute;
    inset: -10px 100px;
    background-image: linear-gradient(0deg,#262625, #BF9E80);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
div.boxtwo:hover::before {
    inset: -20px 0px;
    animation: animate .5s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}
div.boxtwo::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #262625;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 
    inset -5px 5px 10px #1a1a19,
    inset 5px -5px 10px #3c3c3a;
}
div.contenttwo {
    position: absolute;
    inset: 40px;
    border: 1px solid #BF9E8055;
    z-index: 3;
    border-radius: 50%;
    transition: 1s;
    
}
div.contenttwo:hover {
    inset: 3px;
    transition: 1s;
}
div.contenttwo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    pointer-events: none;
    border-radius: 50%;
    opacity: .5;
}
div.boxtwo:hover div.contenttwo img {
    opacity: 1;
}

/* ===================>><<=================== */

div.textshapetwo {
    display: flex;
    align-items: center;
}
p.shapetextrighttwo {
    text-align: left;
    padding: 0 20px; 
}
p#paragraphnonerighttwo {
    text-align: right;
    padding: 0 10px;
}
p#paragraphnonelefttwo {
    display: none;
}
p.configtexttwo {
    padding: 0 20px;
}
@media (max-width:700px) {
    div.textshapetwo {
        display: block;
    }
    p.shapetextrighttwo {
        text-align: center;
        max-width: 400px;
        margin: 0 auto 60px;
    }
    div.boxtwo {
        margin: 30px auto 20px;
    }
    p#paragraphnonerighttwo {
        display: none;
        text-align: center;
    }
    p#paragraphnonelefttwo {
        display: block;
        text-align: center;
        max-width: 400px;
        margin: 0px auto 60px;
    }
}
@media (max-width:500px) {
    div.boxtwo {
        width: 280px;
        height: 280px;
        min-width: 280px;
        min-height: 280px;
        margin: 30px auto 7px;
    }
}

/* ===================>><<=================== */

div#shapestwo {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}
div#shapestwo > img {
    margin: 20px auto;
    transition: 1s;
    /* background-color: #262625; */
    /* box-shadow: 
    inset -10px 10px 10px #1a1a19,
    inset 10px -10px 10px #3c3c3a;
    border: .5px solid #412820; */
    /* border-radius: 50px; */

    /* background-color: #262625; */
    /* box-shadow: 
    inset -10px 10px 10px #1a1a19,
    inset 10px -10px 10px #3c3c3a;
    border: .5px solid #412820; */
}
div#shapestwo :hover {
    transform: scale(1.3);
    transition: 1s;
    /* background-color: #262625; */
    /* box-shadow: 
    inset -10px 10px 10px #1a1a19,
    inset 10px -10px 10px #3c3c3a,
    
   
    -10px 10px 10px #412820,
    10px -10px 10px #87624e;
    ; */
    /* border: .5px solid #412820; */
}

@media (max-width:660px) {
    /* img.imgshapestwo {
    transform: rotate(-90deg);
    padding: -20px;
    margin-top: -20px;

    } */
    div#shapestwo {
        padding: 0;
        margin: 0 auto;
    }
    div#shapestwo :hover {
        transform: scale(1.1);
    }
}

.gallerytwo {
    width: 100%;
    max-width: 660px;
    height: 250px;
    margin: auto;
    display: flex;
    gap: 5px;
    background-color: #262625;
    border-radius: 5px;
    box-shadow: 
    inset -5px 5px 10px #1a1a19,
    inset 3px -3px 10px #3c3c3a;
    border-top: .5px solid var(--cor1);
    border-right: .5px solid var(--cor1);
    border-bottom: .5px solid var(--cor3);
    border-left: .5px solid var(--cor3);
}

.gallerytwo img {
    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    transition: all 1s;
}

.gallerytwo img:hover {
    flex: 4;
}

.gallerytwobackleft {
    box-shadow: 
    -5px 0px .5px #1a1a1950,
    5px 0px .5px #1a1a1950;
}
.gallerytwobackright {
    box-shadow: 
    5px 0px .5px #1a1a1950;
}
@media (max-width:550px) {
    .gallerytwo {
        display: flex;
        flex-direction: column;
        max-height: 300px;
        border-left: none;
        border-right: none;
    }
    .gallerytwobackleft {
         box-shadow:
        0px 5px .5px #1a1a1950,
        0px -5px .5px #1a1a1950;
    }
    .gallerytwobackright {
        box-shadow: 
        0px 5px .5px #1a1a1950;
    }
}