@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200&display=swap');

*{
    margin: 0; padding: 0; text-decoration: none; box-sizing: border-box;
}
:root {
    --cor0: #262625;
    --cor1: #261C1B;
    --cor2: #5F3A2F;
    --cor3: #735443;
    --cor4: #BF9E80;
    --cor5: #FFF;

    --fonte-padrão: 'Raleway', sans-serif;
    --fonte-destaque: 'Bebas Neue', 'sans-serif';
}

/* ===================>><<=================== */

body {
    background-color: var(--cor0);
    background-image: url(assets/backg.jpg);
}

h1,h2,h3 {
    color: var(--cor5);
    font: 1.6em/1.4em var(--fonte-padrão);
    text-align: center;
    text-shadow: -2px 2px 2px #000;
    padding: 10px;
}

.h2top {
    padding-top: 30px;
}

p {
    color: var(--cor5);
    font: 1.3em/1.4em var(--fonte-padrão);
    text-align: center;
    text-shadow: -2px 2px 2px #000;
    padding: 5px;
}
/* h2 {
    color: var(--cor5);
    font: 1.8em/1.4em var(--fonte-padrão);
    text-shadow: -2px 2px 2px #000;
    padding: 20px;
    text-align: center;
} */
@media (max-width:550px) {
    /* h1 {
        font: 1.4em/1.2em var(--fonte-padrão);
    } */
    
    h1,h2,h3 {
        font: 1.4em/1.2em var(--fonte-padrão);
    }
    
    p {
        font: 1.1em/1.4em var(--fonte-padrão);
    }

}



/* a {
    color: #fff;
    font: 1.3em/1.4em var(--fonte-padrão);
} */

hr {
    border: 1px solid var(--cor0);
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin: 30px;
}
@media (max-width:800px) {
    hr {
        margin: 30px 0;
        transition: .5s;
    }
}

/* ===================>>header<<=================== */       

div#backgroundtop {
    background-color: var(--cor2);
    height: 22px;
    width: 100%;
    border-bottom: 2px solid var(--cor3);
    box-shadow: inset 0px -5px 10px #412820;
}

img#logo {
    width: 100%;
    max-width: 900px;
    position: relative;
    left: 50%;
    top: 30px;
    transform: translate(-50%);
    padding: 0 20px;
}
header {
    margin-bottom: 50px;
}
 nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: -.5px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 2px solid var(--cor3);
    z-index: 10;
    background-color: #2626257f;
    background-image: url(assets/backg.jpg);
    background-position: center;
    max-width: 800px;
}
nav  a {
    color: var(--cor4);
    font: 1.5em var(--fonte-destaque);
    padding: 0 40px;
    margin: 0 5px;
    transition-duration: .2s;
}
nav a:hover {
    color: var(--cor5);
}

@media (max-width:550px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav > a {
        margin-top: 5px;
        font-size: 1.2em;

    }
}

#abaselect {
    background-color: var(--cor0);
    border: .5px solid var(--cor3);
    color: var(--cor5);
    border-radius: 50px;
}

/* ===================>>body<<=================== */

main {
    background-color: var(--cor2);
    margin: 0 auto 60px;
    padding-bottom: 10px;
    max-width: 800px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.800);
    /* border-top: 2px solid var(--cor3); */
    border-bottom: 2px solid var(--cor3);
    /* border-left: .1px solid var(--cor3);
    border-right: .1px solid var(--cor3); */
}

#imgsindex > img {
    width: 100%;
    box-shadow: 0 5px 3px #41282050;
}
aside > #imgindextwo {
    padding: 0 2px;
}
aside > #imgindexone {
    position:absolute ;
    padding: 0 2px;
    max-width: 800px;
    opacity: 0;
    animation: imgindexone 6s infinite;
}
@keyframes imgindexone {
    0% { 
        opacity: 0;

    }
    25% {
        opacity: 0;

    }
    50% {
        opacity: 1;

    }
    75% {
        opacity: 1;

    }
    100% {
        opacity: 0;

    }
}

.history {
    background-color: #472c24;
    padding: 100px; 
    margin: 20px;
    border-radius: 40px ;
    box-shadow: 
    inset -10px 10px 15px #34211a,
    inset 10px -10px 15px #513228;
    border-bottom: .5px solid var(--cor3);
    border-left: .5px solid var(--cor3);
}
.history > h1 {
    margin-bottom: 20px;
}
@media (max-width:550px) {
    .history {
        padding: 60px 20px;
    }
    .history > p {
        text-align: justify;
    }
}

li {
    color: var(--cor5);
    font: 1.3em/1.4em var(--fonte-padrão);
    text-shadow: -2px 2px 2px #000;
    text-align: center;
    list-style-position: inside;
}
@media (max-width:550px) {
    li {
        font: 1.1em/1.4em var(--fonte-padrão);
    }
}
#listmodels {
    margin: 10px;
}

#linkwhatsshapes {
    color: #fff;
    text-decoration: underline;
}
#linkwhatsshapes:hover {
    color: rgb(6, 12, 6) ;
}




#bodycontato {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 7rem;
}
@media (max-width:600px) {
    #bodycontato {
        padding: 0 1rem;
    }
}
#bodycontato h3 {
    margin: 30px;
}
form {
    width: 100%;
}
form label, form label input, form label textarea, form input, form button {
    display: block;
    width: 100%;
    padding: 5px 0;
}
form label input, form label textarea {
    padding: .6rem;
    margin: .3rem 0 1rem;
    font: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border-color, box-shadow .2s;
}

form label textarea {
    min-height: 20rem;
    resize: none;
}
form label input:hover, form label input:focus, form input:hover, form input:focus, form label textarea:hover, form label textarea:focus {
    outline: none;
    border-color: var(--cor3);
    box-shadow: inset 0 0 0 3px var(--cor4);
}
form button {
    display: block;
    padding: 1rem;
    background-color: var(--cor0);
    color: var(--cor5);
    font-family: var(--fonte-padrão);
    letter-spacing: .1em;
    text-transform: uppercase;
    border: .5px solid var(--cor2);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    min-height: 50px;

}
form button:hover, form button:focus {
    background-color: #242424;
    box-shadow: 
    inset -5px 5px 10px #1a1a19,
    inset 5px -5px 10px #3c3c3a;
    color: #ccc;
    font-size: 0.7em;
    border-top: .5px solid var(--cor1);
    border-right: .5px solid var(--cor1);
    border-bottom: .5px solid var(--cor3);
    border-left: .5px solid var(--cor3);
}
label {
    color: var(--cor5);
    font: 1.2em/1.4em var(--fonte-padrão);
    text-shadow: -2px 2px 2px #000;
}

#mapa {
    margin-top: 40px;
    width: 100%;
    background-color: var(--cor0);
    border-radius: 5px;
    box-shadow: 
    inset -5px 5px 10px #1a1a19,
    inset 3px -3px 10px #3c3c3a;
    border-top: .5px solid var(--cor1);
    border-right: .5px solid var(--cor1);
    border-bottom: .5px solid var(--cor3);
    border-left: .5px solid var(--cor3);

}
#mapa iframe {
    display: block;
    margin: 10px auto 20px;
    box-shadow: -2px 2px 4px #1a1a19;
}

#contatoendereco p {
    padding: 15px;
}
#linkfone {
    font-size: .9em;
    color: var(--cor5); 
}

ul#listsocial {
    list-style: none;
    color: var(--cor5);
    font-family:  var(--fonte-padrão);
    text-shadow: -2px 2px 2px #000;
    text-align: center;
}
ul#listsocial li {
    margin: 15px auto;
    width: 80%;
}
ul#listsocial li a {
    display: block;
    padding: .8rem;
    background-color: var(--cor0);
    color: var(--cor5);
    font-family: var(--fonte-padrão);
    font-size: 16px;
    text-shadow: none;
    letter-spacing: .1em;
    border: .5px solid var(--cor2);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    /* min-height: 20px; */
}
ul#listsocial li a:hover {
    background-color: #242424;
    box-shadow: 
    inset -5px 5px 10px #1a1a19,
    inset 5px -5px 10px #3c3c3a;
    color: #ccc;
    font-size: .7em;
    border-top: .5px solid var(--cor1);
    border-right: .5px solid var(--cor1);
    border-bottom: .5px solid var(--cor3);
    border-left: .5px solid var(--cor3);
}





/* ===================>>footer<<=================== */

#backgroundbottom {
    width: 100%;
    height: 25px;
    background-color: var(--cor2);
    position: fixed;
    bottom: 0;
    border-top: 2px solid var(--cor3);
    box-shadow: inset 0 10px 10px #412820;
    z-index: 10;
}
#backgroundbottom > a {
    color: #FFF;
    display: flex;
    justify-content: center;
    padding: 2px;
}