/* ===================>><<=================== */

div.boxtwo {
    position: relative;
    width: 350px;
    height: 350px;
    min-width: 350px;
    min-height: 350px;
    background-color: #262625;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px 20px;    
    box-shadow: 
     -10px 10px 10px #412820,
     10px -10px 10px #87624e;
}

@media (max-width:500px) {
    div.boxtwo {
        width: 280px;
        height: 280px;
        min-width: 280px;
        min-height: 280px;
    }
}

div.boxtwo::before {
    content: '';
    position: absolute;
    inset: -10px 100px;
    background-image: linear-gradient(0deg,#262625, #BF9E80);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
div.boxtwo:hover::before {
    inset: -20px 0px;
    animation: animate .5s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}
div.boxtwo::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #262625;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 
    inset -5px 5px 10px #1a1a19,
    inset 5px -5px 10px #3c3c3a;
}
div.contenttwo {
    position: absolute;
    inset: 40px;
    border: 1px solid #BF9E8055;
    z-index: 3;
    border-radius: 50%;
    transition: 1s;
    
}
div.contenttwo:hover {
    inset: 3px;
    transition: 1s;
}
div.contenttwo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    pointer-events: none;
    border-radius: 50%;
    opacity: .5;
}
div.boxtwo:hover .contentone img {
    opacity: 1;
}

/* ===================>><<=================== */

div.textshapetwo {
    display: flex;
    align-items: center;
}
p.shapetextrighttwo {
    text-align: left;
    padding: 0 20px; 
}
p#paragraphnonerighttwo {
    text-align: right;
    padding: 0 10px;
}
p#paragraphnonelefttwo {
    display: none;
}
p.configtexttwo {
    padding: 0 20px;
}
@media (max-width:700px) {
    div.textshapetwo {
        display: block;
    }
    p.shapetextrighttwo {
        text-align: center;
    }
    div.boxtwo {
        margin: 30px auto;
    }
    p#paragraphnonerighttwo {
        display: none;
        text-align: center;
    }
    p#paragraphnonelefttwo {
        display: block;
        text-align: center;
    }
}

/* ===================>><<=================== */

div#shapestwo {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}
div#shapestwo > img {
    margin: 20px auto;
    transition: 1s;
    /* background-color: #262625; */
    /* box-shadow: 
    inset -10px 10px 10px #1a1a19,
    inset 10px -10px 10px #3c3c3a;
    border: .5px solid #412820; */
    /* border-radius: 50px; */

    /* background-color: #262625; */
    /* box-shadow: 
    inset -10px 10px 10px #1a1a19,
    inset 10px -10px 10px #3c3c3a;
    border: .5px solid #412820; */
}
div#shapestwo :hover {
    transform: scale(1.3);
    transition: 1s;
    /* background-color: #262625; */
    /* box-shadow: 
    inset -10px 10px 10px #1a1a19,
    inset 10px -10px 10px #3c3c3a,
    
   
    -10px 10px 10px #412820,
    10px -10px 10px #87624e;
    ; */
    /* border: .5px solid #412820; */
}

@media (max-width:660px) {
    /* img.imgshapestwo {
    transform: rotate(-90deg);
    padding: -20px;
    margin-top: -20px;

    } */
    div#shapestwo {
        padding: 0;
        margin: 0 auto;
    }
    div#shapestwo :hover {
        transform: scale(1.1);
        /* transition: 1s; */
        /* transform: rotate(-90deg), scale(1.3); */
    }
}