@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:'android';
    src: url(fontes/idroid.otf);
}
*{
    margin: 0;padding: 0;
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial,Verdana,sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android:'android','cursive';
}




.image{
    width: 100%;
}
#imagerobo{
    margin: auto;
    display: block;
    max-width: 300px ;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor5);
    font-weight: bold;

}
main a{
    background-color: var(--cor0);
    padding: 2px 7px;
    text-decoration: none;
    color: var(--cor5);
    border-radius: 50px;
    transition: 0.2s;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor0);
    background-color: var(--cor5);
}
a.externo::after{
    content: '\00A0\26D3';
}


header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    padding-top: 40px;
    min-height: 150px;

}
header>h1{
    color: white;
    font: 3em var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.383);
}
header>p{
    color: white;
    font: 1.2em var(--fonte-padrao);
    padding: 0 10px;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.383);
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.197);
}
nav>a{
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.835);
    padding: 10px;
    transition-duration: .2s;
    border-radius: 10px 10px 0 0;

}
nav> a:hover{
    background-color: var(--cor4);
    border-top: 4px solid var(--cor3);
    box-shadow: 0 -2px var(--cor3);
    color: white;
    /* font-size: 1.05em; */
}




main{
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    margin: 0 auto 10px;
    max-width: 1000px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.512);

}
main h1{
    color:var(--cor4);
    font: 1.8em var(--fonte-android);
    font-weight: normal;
}

main h2{
    text-indent: 13px;
    color:var(--cor4);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor0)2%,var(--cor0)30%,transparent 60%);
    border-radius: 50px; 
}
#video{
    background-color: var(--cor5);
    padding: 20px;
    margin: 0 -20px 30px;
    padding-bottom: 56.5% ;
    position: relative;
}
#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.321);

}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
    
}
aside > ul{
    list-style-position: inside;
    list-style-type: '\2705\00A0\00A0';
    columns: 2;
    text-align: left;
}


footer {
    font:100 .9em system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
    text-shadow: 1px 1px 1px #3d3753;
    color: #FFF;
    background-color: #191622;
    border-top: .5px solid #3d3753;
    box-shadow: inset 0px 5px 5px #15121e;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
}
footer a {
    text-decoration: none;
    color: #AAA;
    transition: 1s;
}
footer a:hover {
    padding: 0 10px;
    transition: 1s;
    font-size: 1.3em;
}
